h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-left: -8px; 
    margin-right: -8px; 
    margin-top: -8px;
}

h2 {
    color: white;
}

#grey {
    float: left;
    background-color: grey;
    max-height: max-content;
    margin-top: -21px; 
    padding-bottom: 40%;
}

#search {
    background-color: blue;
    color: white;
    padding: 10px;
}

#results {
    padding-left: 265px;
}